.textfield {
	-fx-background-color: -fx-text-box-border, -fx-background;
	-fx-background-insets: 0, 0 0 1 0;
}

.combobox {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}