.textfield {
	-fx-background-color: -fx-text-box-border, -fx-background;
	-fx-background-insets: 0, 0 0 1 0;
}

.custom-button {
	-fx-border-color: #074F76;
    -fx-border-width: 0;
    -fx-background-radius: 15;
    -fx-background-color: #074F76;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.custom-button:hover {
    -fx-border-color: #04314A;
    -fx-background-color: #04314A;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.custom-button:focused {
    -fx-border-color: #04314A;
    -fx-background-color: #04314A;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.custom-button:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.tab-header-background
{
   -fx-background-color: -fx-outer-border, -fx-text-box-border, #074F76;
}

.menu-bar{
  -fx-background-color: #032030;
  -fx-border-color:  #032030;
  -fx-border-width: 2

}


.context-menu {
    -fx-background-color: #032030;
}

.menu .label{ -fx-text-fill: White;}



.table-view {
	-fx-background-color: #f2f2f2;
	-fx-control-inner-background: #ffffff;
	-fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
	-fx-background-radius: 30;
	-fx-padding: 5;
	-fx-fill: black;
}

.table-view .column-header-background {
	-fx-background-color: #f2f2f2;
	-fx-background-radius: 20;
	-fx-background-insets: 0 0 10 0;
	-fx-padding: 0 0 10 0;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 40;
	-fx-border-width: 0 0 10 0;
	-fx-background-color: transparent;
}

.table-view .column-header .label {
	-fx-text-fill: black;
}